{% extends 'page.html.twig' %}

{% block title %}Protocol index{% endblock %}

{% block content %}
    <h1>Protocol index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tcontent>
        {% for protocol in protocols %}
            <tr>
                <td>{{ protocol.id }}</td>
                <td>{{ protocol.name }}</td>
                <td>{{ protocol.createAt ? protocol.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('protocol_show', {'id': protocol.id}) }}">show</a>
                    <a href="{{ path('protocol_edit', {'id': protocol.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tcontent>
    </table>

    <a href="{{ path('protocol_new') }}">Create new</a>
{% endblock %}
